body {
    margin: 0;
}

/*
___________Navigation Bar Styling______________
*/

nav {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    background-color: #333;
    height: 50px;
    text-align: center;
    color: white;
}

nav div {
    display: flex;
    align-items: center;
    padding: 0px 10px;
    font-family: 'Bangers', cursive;
    font-size: 25px;
}

nav ul {
    display: flex;
    list-style-type: none;
    border-width: 5px;
    border-color: white;
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    margin: 0px 10px 0px 0px;
    height: 100%;
}

nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
nav ul li a {
    display: flex;
    padding: 0 10px;
    color: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    height: 100%;
}
nav ul li:hover{
    background-color: #555555;
}

nav ul li .active {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4CAF50;
    height: 100%;
}

/*
_____________Project section styling_______________
*/

section {
    display: flex;
    height: 500px;
    justify-content: center;
    margin-top: 40px;
}

section table tbody tr {
    display: flex;
    width: 100%;
    flex-direction: row;
}

section table tbody tr td {
    display: flex;
    width: 300px;
    height: 200px;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
section table tbody tr td img {
    display: flex;
    height: 100%;
    width: 100%;
    border-width: 0px;
}
section table tbody tr td p {
    position: absolute;
    font-size: 25px;
    color: white;
}

/*
____________Classes section styling______________
*/

.classes-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.classes-table {
    width: 80%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin: 30px;
    border-collapse: collapse;
}

.classes-list th {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    padding: 15px;
}

.classes-list td {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    text-align: center;
    font-size: 16px;
    font-family: 'Titillium Web', sans-serif;
    padding: 5px;
}

.classes-list tr {
    height: 43px;
}

.year-row {
    background-color: #edbeec;
}

.season-col {
    background-color: #ff8f8f;
}

/* Experience styling*/

.about-me-div {
    display: flex;
    width: 100%;
    justify-content: center;
}
.about-me {
    display: flex;
    width: 80%;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
hr {
 width: 100%;
}

.about-me h2 {
    font-size: 17px;
}
.about-me div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.about-me div p {
    display: flex;
    flex-grow: 1;
}

.about-me ul {
    text-align: left;
}

.about-me li {
    margin: 5px 0px;
    font-family: 'Rubik', sans-serif;
}

.about-me img {
    height: 35px;
    width: 35px;
    margin: 0px 5px;
}

.about-me h1 {
    font-family: 'Oxygen', sans-serif;
    font-size: 30px;
}

.resume-banner {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    justify-content: center;
    margin-bottom: -15px;
}

.resume-banner.childNodes {
    margin: 0;
    flex-direction: row;
}

.header-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.resume-position.childNodes {
    font-family: 'Rubik', sans-serif;
}

/* Experience styling*/
